@charset "UTF-8";

body {
	background: linear-gradient(#3e3e3e, #111111);
    margin: 0;
    min-height: 100vh;
    padding: 0;
	font-family: Helvetica;
	display: flex;
	justify-content: center;
	align-items: center;
}

input{
	font-family: Helvetica;
}

input[type=submit] {
	font-size: 16px;
	padding: 12px 28px;
	border-radius: 12px;
	background-color: #4f5757;
	color: white;
	border: 2.2px solid #4f5757;
	
}

input[type=submit]:hover {
	color: black;
	background-color: white;
	border: 2.2px solid #4f5757;
	transiton-duration: 0.45s;
}

input[type=submit]:active{
	color: black;
	background-color: white; 
	box-shadow: 0 2px #6f6f6f;
	transform: translateY(5px);
}

form{
	color: white;
	vertical-align: text-top;
}

.h1_titulo{
	font-weight: bolder;
}

.div_h2{
	text-align: justify;
}


.div_degrade {
	min-height: 100vh;
	width: 100%;
}


.h2_mensagem_DADOS{
	color: white;
	justify-content:flex-start;
	letter-spacing: normal;
	font-size: 20px;
	margin: 2.5px 0;
}

.h2_mensagem_ERRO{
	color: #f52b2b;
}

.h2_mensagem_VALIDACAO{
	color: #70f140;
}

.td_alinhar_justo{
	text-align: justify;
}

.a_link_clicavel{
	color: white;
	text-decoration: underline;
}

.a_link_clicavel:hover{
	color: #43bfe0;
	text-decoration: none;
}

.div_gata_sora__direita {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 17%;
	height: 100%;
	background-image: url('../imagens/SoraLendo.jpg');
	background-size: cover;
	background-position: center;
	z-index: -1;
}

.div_gata_sora__esquerda {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 17%;
	height: 100%;
	background-image: url('../imagens/SoraLendo.jpg');
	background-size: cover;
	background-position: center;
	z-index: -1;
}

.table_border{
	border: 2px solid #04ff00 ;
	border-collapse: collapse;
	overflow: hidden;
}

.table_border tr:nth-child(even){
	background-color:#ff00dc
}

.table_border tr:nth-child(odd){
	background-color:#ff6100
}


	
.table_border td, th {
	border: 1px solid white;
	padding: 8px;
}

.table th{
	font-weight: bold;
	color: white;
}

.table tr{
	color: white;
}


