@charset "UTF-8";

body {
	
	background: linear-gradient(#3e3e3e, #111111);
    margin: 0;
    padding: 0;
    height: 100vh;
	font-family: Helvetica;
}

input{
	font-family: Helvetica;
}

input[type=submit] {
	font-size: 16px;
	padding: 12px 28px;
	border-radius: 12px;
	background-color: #4f5757;
	color: white;
	border: 2.2px solid #4f5757;
	
}

input[type=submit]:hover {
	color: black;
	background-color: white;
	border: 2.2px solid #4f5757;
	transition-duration: 0.45s;
}

input[type=submit]:active{
	color: black;
	background-color: white; 
	box-shadow: 0 2px #6f6f6f;
	transform: translateY(4px);
}

.h1_titulo{
	font-weight: bolder;
}

.div_login {
	margin-top: 20%;
}

.a_link_clicavel{
	color: white;
	text-decoration: underline;
}

.a_link_clicavel:hover{
	color: blue;
	text-decoration: none;
}


.div_gata_sora__direita {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 17%;
	height: 100%;
	background-image: url('../imagens/SoraLendo.jpg');
	background-size: cover;
	background-position: center;
	z-index: -1;
}

.div_gata_sora__esquerda {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 17%;
	height: 100%;
	background-image: url('../imagens/SoraLendo.jpg');
	background-size: cover;
	background-position: center;
	z-index: -1;
}


